@{
    ViewData["Title"] = "Booking";
}

<div class="text-center">
    <h1 class="display-4">Make Booking</h1>

    <form method="post" action="/Home/Login">
        <div>
            <label>Start Time</label>
            <input type="text" name="Start Time" />
        </div>
        <div>
            <label>End Time</label>
            <input type="text" name="End Time" />
        </div>
        <div>
            <label>Description</label>
            <input type="text" name="Description" />
        </div>
        <button type="submit">Confirm</button>
    </form>
</div>