@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    
    <div class="title-section">
    <h1 class="main-title">Sanctum</h1>
    <h3 class="subtitle">CSULB Study Room Booking</h3>
    </div>

    <div class="button-section">
        <a asp-action="Login" class="btn btn-primary">Login</a>
        <a asp-action="Register" class="btn btn-primary">Sign Up</a>
    </div>

</div>
