@model Sanctum.Models.User
<div>
    <h1>@ViewData["Title"]</h1>
    <form method="post" action="Home/Profile">
        <h2>@Model.Username</h2>

        <p>@Model.CSULBID</p>
        <p>@Model.Description</p>
        <form asp-controller="Home" asp-action="Booking" class="btn btn-primary">
            <button>Go Back</button>
        </form>
    </form>
    

</div>