<div class="text-center">
    <h3 style="margin-top: 10px;"></h3>
    <h1 class="display-4">Sign Up</h1>
    <h3 style="margin-top: 30px;"></h3>

    <form method="post" action="/Home/Register" style="display: inline-block; text-align: left;">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label style="width: 130px; margin-right: 10px;">Email</label>
            <input type="text" name="email" class="auth-input" />
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label style="width: 130px; margin-right: 10px;">First Name</label>
            <input type="text" name="First" class="auth-input" />
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label style="width: 130px; margin-right: 10px;">Last Name</label>
            <input type="text" name="Last" class="auth-input" />
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label style="width: 130px; margin-right: 10px;">CSULB Student ID</label>
            <input type="text" name="CSULBID" class="auth-input" inputmode="numeric" maxlength="10" />
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label style="width: 130px; margin-right: 10px;">Password</label>
            <input type="password" name="password" class="auth-input" />
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label style="width: 130px; margin-right: 10px;">Confirm Password</label>
            <input type="password" name="confirmPassword" class="auth-input" />
        </div>
        <div style="text-align: center; margin-top: 10px;">
        @if (ViewBag.reg != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.reg
                </div>
            }
        else if(ViewBag.csulb != null)
        {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Message"]
                </div>
        }
            </div>
        <div style="text-align: center; margin-top: 10px;">
            <button type="submit" class="login-btn">Register</button>
        </div>
    </form>
</div>
